<body>
  <header>
    <%= image_tag "Posts-Header.jpg", :class => "imageToSpan" %>
  </header>
  <div class="reply-title">
  <h3>Write a reply!</h3>
  </div>

  <% if @reply.errors %>
    <ul>
      <% @reply.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <div class="searchForm">
    <%= form_for [@post, @reply] do |f| %>
    <%= f.label :body, "Reply:" %>
    <%= f.text_field :body %>
    <br/>


    <%= f.submit "Submit your reply!", class: "submit-button"%>
    <% end %>

  </div>
</body>
