<body class="mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
      <div class="spanImage">
        <%= image_tag "Restaurant-Header.jpg", :class => "imageToSpan" %>
      </div>
    </header>
    <div class="sidenav">
      MESSAGEBOARD
      Recent Posts
      <ul>
        <% if @posts %>
          <% @posts.each do |post| %>
            <li>
              <a href="/posts/<%=post.id%>"> <%= post.title%> </a>
              <%= post.user.username %> <%= post.created_at.strftime("%B %d %Y") %>
              <br/>
            </li>
          <% end %>
        <% end %>
      </ul>
      <button class="posts-button"><a href="/posts/new">Post Something!</a></button>
    </div>
      <main class="mdl-layout__content">
        <div class="mdl-layout__tab-panel is-active" id="quick-links">
          <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
                <h4>Search</h4>
                        <form action="/boston_restaurants/search">
                          <input type="radio" name="search-option" value="Location" checked> Location
                          <input type="radio" name="search-option" value="Boston"> Boston Health Reports
                          <input type="radio" name="search-option" value="Cambridge"> Cambridge Health Reports
                          <input type="text" name="query" placeholder="Look for restaurants through Yelp, or search our Boston and Cambridge health reports" class="searchbox">
                          <button type="submit" id="edit-submit" value="Search" class="form-submit">Search</button>
                        </form>
            </div>
          </section>
          </div>
        <div class="mdl-layout__tab-panel is-active" id="overview">
          <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
              <div class="mdl-card__supporting-text">
                <h4>Under the Table: Our Mission</h4>
                <div class="mission-statement">
                While apps like Yelp can guide users to trendy restaurants, they have
                one major flaw: they do not list health inspection reports for
                restaurants. <br/>
                </div>

                <div class="mission-statement">
                Making health reports available to the public is especially useful
                in the Boston/Cambridge area. Under Massachusetts regulations,
                restaurant management has 48 hours to address any problems raised
                by a health inspector before that inspector issues a final health grade.
                This means that a restaurant might have a cockroach infestation
                in its kitchen but still receive an A Health Grade. <br/>
                </div>

                <div class="mission-statement">
                Under the Table helps its users feel confident that they are
                choosing hip but healthy eateries for a night out. <br/>
                </div>
              </div>
            </div>
          </section>
          </div>
        </div>
