<body class="mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
      <div class="spanImage">
        <%= image_tag "Restaurant-Header.jpg", :class => "imageToSpan" %>
      </div>
    </header>
    <div class="sidenav">
      <div class="title">
        MESSAGEBOARD
        Recent Posts
      </div>
      <ul>
        <% if @posts %>
          <% @posts.each do |post| %>
            <li>
              <a href="/posts/<%=post.id%>"> <%= post.title%> </a>
              <%= post.user.username %> <%= post.created_at.strftime("%B %d %Y") %>
              <br/>
            </li>
          <% end %>
        <% end %>
      </ul>
      <button class="posts-button"><a href="/posts/new">Post Something!</a></button>
    </div>
      <main class="mdl-layout__content">
        <div class="mdl-layout__tab-panel is-active" id="quick-links">
          <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
                <h4>Search</h4>
                        <form action="/boston_restaurants/search">
                          <input type="radio" name="search-option" value="Boston" checked> Boston
                          <input type="radio" name="search-option" value="Cambridge"> Cambridge
                          <input type="text" name="query" placeholder="Search for Boston and Cambridge restaurant health inspection reports" class="searchbox">
                          <button type="submit" id="edit-submit" value="Search" class="submit-button">Search</button>
                        </form>
            </div>
          </section>
          </div>
        <div class="mdl-layout__tab-panel is-active" id="overview">
          <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
              <div class="mdl-card__supporting-text">
                <h4>Under the Table: Behind the Scenes</h4>
                  <%= image_tag "Diagram.jpg" %>
              </div>
            </div>
          </section>
          </div>
        </div>
