<body>
  <header>
    <%= image_tag "Posts-Header.jpg", :class => "imageToSpan" %>
  </header>
  <div class="message-board">
  <ul>
    <% if @posts %>
      <% @posts.each do |post| %>
        <li class="posts-links">
            <a href="/posts/<%=post.id%>"> <%= post.title%> </a> <br/>
            <%= post.user.username %> <%= post.created_at.strftime("%B %d %Y") %>
        </li>
      <% end %>
    <% end %>
  </ul>

  <button class="posts-button"><a href="/posts/new">Post Something!</a></button>
  </div>
</body>
