<body>
  <header>
    <%= image_tag "Posts-Header.jpg", :class => "imageToSpan" %>
  </header>
  <div class="message-board">
    <div class="posts-links-bold">
    <h1><%=@post.title%></h1>

    <p> <%= @post.body %> </p>
    <%= link_to "Write a reply!", new_post_reply_path(@post, @replies) %>
    <br/>
    </div>

    <% if @post.replies %>
    <h3> Replies: </h3>

    <% @post.replies.each do |reply| %>
    <div class="posts-links">
      <p>
        <%= reply.body %> <br/>
         Date: <%= reply.created_at.strftime("%B %d %Y") %> <br/>
         User <%= reply.user.username %>
      </p>
    </div>
    <% end %>
  <% end  %>


    <script src="/javascripts/app.js"></script>
  </div>
</body>
